/* Google Font Titillium */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap");
/* Awesome Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --theme-font-color: #303030;
  --theme-primary-color: #20aaca;
  --theme-secondary-color: #6cb352;
  --theme-highlight-color: #3fb9d9;
  --theme-secondary-highlight-color: #73bf5c;
  --theme-error-message-color: #ed4337;
  --theme-content-border-color: #cecece;
  --theme-readonly-input: #f2f3f5;
  --theme-logo: url("https://cdn.jsdelivr.net/gh/ForgeRock/P1DV-300-BVP-Rev-A@main/p1-dv-300-bvp-rev-a-master/public/images/playcards-logo.png");
}

/***************************************
* HTML Clear default padding/margin
***************************************/
html {
  margin: 0;
  padding: 0;
}

/***************************************
* Set page font. 
*      See https://fonts.google.com/
***************************************/
body {
  font-family: "Titillium Web", sans-serif;
  font-size: 12pt;
  color: var(--theme-font-color);
}

/***************************************
* Page panel 
***************************************/
section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/***************************************
* links
***************************************/
a,
a:visited {
  color: var(--theme-secondary-color);
}

a:hover {
  color: var(--theme-secondary-highlight-color);
}

/***************************************
* paragraphs
***************************************/
section p {
  padding: 10px 0px;
  /*   text-align: center; */
}
/***************************************
* H1 page within section
***************************************/
section h1,
h2,
h3 {
  margin: 10px 0px 10px 0px;
  padding: 0;
  text-align: center;
}

/***************************************
* Input types within section
***************************************/
input[type="text"],
input[type="password"] {
  line-height: 2;
  padding-left: 5px;
  margin: 10px 0px;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
}

input[type="text"]:read-only,
input[type="password"]:read-only {
  background-color: var(--theme-readonly-input);
  border-style: none;
}

select {
  width: 100%;
}

/***************************************
* Field focus color within section
***************************************/
section input:focus,
section button:focus,
section select:focus {
  outline-color: var(--theme-highlight-color);
}

/***************************************
* Buttons within section
***************************************/
.buttonbar button,
.registerbar button {
  padding: 5px;
  width: 100%;
  height: 30px;
  transition-duration: 0.2s;
  border: 1px solid var(--theme-font-color);
  border-radius: 3px;
  background-color: var(--theme-primary-color);
  color: white;
}

/***************************************
* Register Button
***************************************/
.registerbar button {
  width: 60%;
  background-color: var(--theme-secondary-color);
}

/***************************************
* Button Hover within section
***************************************/
.buttonbar button:hover {
  background-color: var(--theme-highlight-color);
}

/***************************************
* Forgot/Register div
***************************************/
.forgotpassword,
.registerbar {
  text-align: center;
  margin: 10px 0px;
}

/***************************************
* Forgot Password Button
***************************************/
.forgotpassword button {
  background: none !important;
  border: none;
}
/***************************************
* Forgot Password Button Hover
***************************************/
.forgotpassword button:hover {
  text-decoration: underline;
}

/***************************************
* Register Button Hover
***************************************/
.registerbar button:hover {
  background-color: var(--theme-secondary-highlight-color);
}

/***************************************
* Block labels within section
***************************************/
section label {
  display: block;
  font-weight: 600;
  line-height: 1.5;
}

/***************************************
* First section on page
***************************************/
section:first-of-type {
  margin-top: 20px;
}

/***************************************
* Company Logo
***************************************/
.logo {
  content: var(--theme-logo);
  height: 80px;
}

/***************************************
* Company Logo wrapper div
***************************************/
.logo-wrapper {
  text-align: center;
}
/***************************************
* Card Captcha test
***************************************/
.captcha-image,
.centered-image {
  text-align: center;
  margin: 20px 0px 20px 0px;
}

/***************************************
* Underage image wrapper div
***************************************/
.underage-wrapper {
  text-align: center;
  margin: 20px 0px 10px 0px;
}

/***************************************
* Bordered content div
***************************************/
.content {
  border: 1px solid var(--theme-content-border-color);
  padding: 20px;
  min-width: 250px;
  width: 250px;
}

/***************************************
* Button bar div
***************************************/
.buttonbar {
  margin-top: 20px;
}

/***************************************
* Sign on Error Message Placeholder
***************************************/
.error-message {
  color: var(--theme-error-message-color);
  margin-top: 15px;
}

/***************************************
* Error Div
***************************************/
.error-message-wrapper {
  margin-top: 15px;
}

/***************************************
* Bordered register content div
***************************************/
.register-content {
  border: 1px solid var(--theme-content-border-color);
  padding: 20px;
  min-width: 360px;
  width: 360px;
}

/***************************************
* Wrapper for form fields that multiple 
* per row
***************************************/
.formfield-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/***************************************
* Divs inside of formfield wrapper
***************************************/
.formfield-wrapper div {
  width: 50%;
}

/***************************************
* Checkbox labels 
***************************************/
label.checkbox {
  display: inline-block;
  margin-left: 10px;
}

/***************************************
* Toggle Password
***************************************/
.togglepwd {
  margin-left: -30px;
  cursor: pointer;
}

/***************************************
* Webpage Glitch button 
***************************************/
.remix {
  padding: 5px 10px;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 30px;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #20aaca;
  white-space: nowrap;
}

.glitch {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
